
<h2>Make It Open House </h2>
<div class="row">
    <div class="col s3">
<div class="card ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/home.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">3 Bhk Flat for rent<i class="material-icons right">more_vert</i></span>
       <p><a href="#propertylist">Change This</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Property<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
    </div>
    </div>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">info_outline</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Open House Title</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">perm_contact_calendar</i>
          <input id="icon_telephone" type="text" class="validate">
          <label for="icon_telephone">Date </label>
        </div>
            <div class="input-field col s6">
          <i class="material-icons prefix">schedule</i>
          <input id="icon_start" type="text" class="validate">
          <label for="icon_start">Start </label>
        </div>
            <div class="input-field col s6">
          <i class="material-icons prefix">schedule</i>
          <input id="icon_end" type="text" class="validate">
          <label for="icon_end">End Time</label>
        </div>
         <div class="input-field col s6">
          <i class="material-icons prefix">payment</i>
          <input id="icon_initial" type="text" class="validate">
          <label for="icon_initial">Base Price For the Bid</label>
        </div>
        
      </div>
        <a href="#openhouseDetail" class="waves-effect waves-light btn-large"><i class="material-icons left">done</i>Submit</a>
    </form>
  </div>